
*, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Light';
    /* ändring */
    
}

body {
    background-color: #ccc;
}

h1 {
        line-height:36px;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top:40px;
    font-weight: 300;
}
h2 {
    font-weight: 300;
    font-size: 20pt;
}

.box {
    border: 1px solid #ccc;
    padding: 5px;
}
.ao_nr {
    margin:60px 0px 20px 0px;
   
}

table {
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}
table thead td {
    border:0px;
}
table td {
 border:1px solid #ebebeb;
    position:relative;
    padding: 22px 5px 6px 10px;
}
tr {
    height:50px;
    vertical-align:top;
}
thead {
    font-size: 17pt;
}
thead tr td{
    font-weight: normal;
    /*border-bottom: 2px solid #d0d0d0;*/
}
table .liten {
    position: absolute;
    left: 6px;
    top: 1px;
    font-size: 10pt;
    font-weight: bold;
    color: #383838
}

.divider {
    height:40px;
    clear:both;
}

/* PDF */

.a4_paper {
    background-color: #fff;
    width: 880px;
   height: 1278px;
    margin-bottom: 20px;
    padding: 40px 40px 0px 40px;
    font-size: 11pt; /* was 8pt*/
}


.a4_paper ul {
    list-style-type: none;
 
}




/* BYGG PDF*/