*, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

/*body {
    background-color: #efefef;
}*/

/*a {
    color: #000;
}

    a:hover {
        text-decoration: none;
    }

.wrapper {
    margin: 0 auto;
    width: 960px;
}

#footer {
}


#header {
    background-color: #fff;
    height: 50px;
    padding: 10px 10px 0px 10px;
}

#logo {
    width: 74px;
    height: 42px;
    background-image: url('../images/logo_small_symbol.png');
    background-repeat: no-repeat;
    padding: 0px 0px 0px 50px;
    font-family: Oswald;
    font-size: 14pt;
    line-height: 42px;
    float: left;
}

#nav {
    float: right;
}

    #nav ul {
        list-style-type: none;
    }

        #nav ul li {
            float: left;
            line-height: 32px;
        }

            #nav ul li a {
                border-bottom: 2px solid #fff;
                margin: 0px 20px;
                padding: 0px 2px;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: 300;
                font-size: 10pt;
            }

            #nav ul li:last-child a {
                margin: 0px 0px 0px 20px;
            }

            #nav ul li a:hover {
                border-bottom: 2px solid #1c80aa;
            }

            #nav ul li a.active {
                border-bottom: 2px solid #1c80aa;
            }

#slider {
    height: 500px;
    background-position: center top;
    background-image: url('../images/slide1.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-color: #fff;
    margin-bottom: 80px;
}

#start_boxes {
    position: relative;
    top: 20px;
}

#slider_text {
    height: 320px;
    width: 200px;
}*/

/*#slider_text h2 {
        padding-top: 200px;
        border-top: 2px solid #fff;
        color: #fff;
        font-weight: 300;
        font-size: 24pt;
    }
    #slider_text p {
        color: #fff;
        font-weight: 300;
        font-size: 12pt;
    }*/

/*#start_boxes ul {
    list-style-type: none;
}

    #start_boxes ul li {
        float: left;
        width: 280px;
        height: 180px;
        padding: 20px 20px;
    }

        #start_boxes ul li h3 {
            font-weight: 400;
            font-size: 18pt;
        }

        #start_boxes ul li h4 {
            font-style: italic;
            font-weight: 400;
            font-size: 12pt;
        }

        #start_boxes ul li p {
            line-height: 18pt;
            font-size: 10pt;
            font-weight: 400;
            margin-top: 20px;
            overflow: hidden;
            height: 70px;
            margin-bottom: 10px;
        }

a.button {
    background-color: #000;
    color: #fff;
    font-size: 8pt;
    padding: 5px 10px;
    float: right;
    margin-top: 0px;
    cursor: pointer;
    text-decoration:none;
}

    a.button:hover {
        background-color: #1c80aa;
    }

#start_boxes .box1 {
    background-color: #fff;
}

    #start_boxes .box1 p {
        overflow-y: scroll;
    }

#start_boxes .box2 {
    background-color: #85c8e0;
}

#start_boxes .box3 {
    background-color: #1c80aa;
}

#content {
    padding: 40px 0px 0px 0px;
    margin-bottom: 100px;
}

    #content h1 {
        font-weight: 300;
        font-size: 36pt;
        margin-bottom: 30px;
    }

    #content h2 {
        font-weight: 300;
        font-size: 26pt;
        margin-bottom: 10px;
    }*/




/*   UNDERSIDOR   */
/*   OPEN         */

/*#inspection_list {
    float: left;
    width: 500px;
    margin-right: 20px;
}

    #inspection_list ul {
        list-style-type: none;
    }

#inspection_sort {
    float: left;
    width: 240px;
    margin-right: 20px;
}

#inspection_help {
    float: left;
    width: 180px;
}

.inspection_item {
    padding: 0px 0px 0px 35px;
    margin-bottom: 5px;
}

.white {
    background-color: #fff;
}

.green {
    background-image: url('../images/green_bar.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: left;
}

.blue {
    background-image: url('../images/blue_bar.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: left;
}

.orange {
    background-image: url('../images/orange_bar.png');
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: left;
}*/

.red {
    background-color: #ED1C24;
}

.green2 {
    background-color: #39B54A;
}





/*.inspection_item_objects {
    background-image: url('../images/boll.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 100px;
    color: #fff;
}

    .inspection_item_objects h3 {
        text-align: center;
        width: 100px;
        padding-top: 45px;
        font-size: 16pt;
        line-height: 16pt;
    }

    .inspection_item_objects h4 {
        text-align: center;
        font-weight: 300;
        font-size: 10pt;
        line-height: 10pt;
    }

    .inspection_row_1 {
        cursor:pointer;
    }

.inspection_row_col1 {
    float: left;
    width: 140px;
    font-weight: 300 !important;
    font-size: 10pt !important;
    height: 30px;
    line-height: 30px;
}

.inspection_row_col2 {
    float: left;
    font-size: 10pt;
    font-weight: 300;
    display: block;
    height: 30px;
    line-height: 30px;
}

.inspection_col3 {
    float: left;
    width: 140px;
}

.inspection_col4 {
    float: left;
    padding-top: 20px;
    font-size: 10pt;
}

.inspection_item_bottom {
    padding: 0px 5px 0px 0px;
    font-size: 8pt;
    color: #a2a2a2;
    height: 30px;
}
.inspection_item_bottom small {
    float:left;
}
#inspection_sort .inspection_item, #inspection_help .inspection_item {
    font-weight: 300 !important;
    font-size: 10pt !important;
    height: 30px;
    line-height: 30px;
}*/
/*







    .inspection_item_ p {
        margin: 0px 0px 15px 0px;
    }



    .inspection_item_bottom small {

    }



.hidden {
    display: none;
}
    */

/*CREATE*/
/*#create_inspection {
}

    #create_inspection .col1 {
        float: left;
        width: 460px;
        margin-right: 40px;
    }

    #create_inspection .col2 {
        float: left;
        width: 460px;
    }

    #create_inspection input[type=text] {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-weight: 300;
        font-family: 'Open Sans';
        width: 410px;
        margin: 5px 0px 25px 0px;
    }

    #create_inspection input[type=checkbox] {
    }

    #create_inspection input[type=text].input_third {
        width: 25%;
        float: left;
        margin-right: 8px;
    }

    #create_inspection input[type=submit] {
        display: block;
        background-color: #000;
        font-size: 14pt;
        font-weight: 300;
        font-family: 'Open Sans';
        width: 434px;
        text-align: center;
        border: none;
        color: #fff;
        padding: 10px;
        margin-top: 45px;
    }

        #create_inspection input[type=submit]:hover {
            background-color: #1C80AA;
            cursor: pointer;
        }*/

/*OBJECT*/

/*.inspect_object h3 {
    font-size: 14pt;
    font-weight: 300;
}

.inspect_object h4 {
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 10px;*/
    /*  display: inline-block;*/
    /*background: #1c80aa;
    margin-top: 20px;
    padding: 5px 7px;
    color: #fff;
}*/

/*.inspect_object a.breadcrumb {
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 10px;
    display: inline-block;
    background: #000;
    padding: 5px 7px;
    color: white;
    text-decoration: none;
}

.inspect_object a:hover.breadcrumb {
    background: #1C80AA;
}

.inspect_object p {
    margin-bottom: 40px;
}

.inspect_object .col1 {
    float: left;
    width: 660px;
    margin-right: 40px;
}

.inspect_object .col2 {
    float: left;
    width: 260px;
}

.inspect_object .room_col {
    float: left;
    width: 310px;
    margin-right: 40px;
}

.inspect_object .object_col {
    float: left;
    width: 310px;
}

.inspect_object .full_col{
    width: 660px;
    float:left;
}

#MainContent_rooms {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background: #efefef;
    border: 0px;
    padding: 4px;
    font-size:12pt;
}

#MainContent_categories, #MainContent_objects {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    background: #EFEFEF;
    border: 0px;
    padding: 4px;
    font-size: 12pt;
}


span.goto {
    background-color: #000;
    color: #fff;
    font-size: 8pt;
    padding: 5px 10px;
    cursor: pointer;
}

    span.goto:hover {
        background-color: #1c80aa;
    }

.inspect_object #rooms li.selected {
}

.thumbnail {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.7;
}

    .thumbnail:hover {
        opacity: 0.9;
        cursor: pointer;
    }*/

/*SLIDER*/
/*.slider {
    margin: 10px;
}

table#sliders {
    padding: 10px 0px 100px 0px;
}

    table#sliders td:first-child {
        width: 100px;
        height: 30px;
    }

    table#sliders td:last-child {
        width: 500px;
    }

*:focus {
    outline: none;
}

ul.material {
    list-style-type: none;
}

    ul.material li {
        float: left;
        font-weight: 300;
        font-size: 14pt;
        margin-bottom: 10px;
        display: inline-block;
        background: #85C8E0;
        margin: 20px 10px 0px 0px;
        padding: 5px 7px;
        color: #000;
    }*/


/*CONTACT*/
/*.contact_item {
    height: 280px;
}

.contact_photo {
    width: 150px;
    float: left;
    margin: 0px 20px 0px 0px;
}

    .contact_photo img {
        width: 150px;
    }

.contact_details {
    float: left;
}

    .contact_details h3 {
        font-weight: 300;
        font-size: 28pt;
        line-height: 38pt;
    }

    .contact_details h4 {
        color: #a2a2a2;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 2px;
        font-size: 12pt;
        margin-bottom: 30px;
    }

.contact .contact_details p {
    margin-bottom: 5px;
}

.contact p {
    margin-bottom: 60px;
}*/

/* PDF */

.a4_paper {
    background-color: #fff;
    width: 880px;
    /*height: 1278px;*/
    margin-bottom: 20px;
    padding: 40px;
    font-size: 8pt;
}

.damage_summary_paper {
}

    .damage_summary_paper h2,.room_paper h2 {
        margin-bottom: 50px !important;
        font-size: 36pt!important;
        font-weight: 300;
    }

   .ensurance_company_logo {
        
        height: 150px;
        width: 300px;
        float: left;
    }

    .sanerings_company_logo {
        
        height: 150px;
        width: 300px;
        float: right;
    }
    .ensurance_company_logo img, .sanerings_company_logo img {
 
        max-width: 300px;
    }

    .damage_summary_paper .inspection_number {
        background-color: #000;
        color: #fff;
        font-weight: 300;
        font-size: 10pt;
        padding: 5px 7px;
        width: 205px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .a4_paper ul {
        list-style-type: none;
        margin-top: 30px;
    }

        .a4_paper ul li {
            float: left;
            width: 205px;
            margin-right: 20px;
        }

            .a4_paper ul li:last-child {
                margin-right: 0px;
            }

            .a4_paper ul li h4 {
                padding: 5px 7px;
                color: #fff;
                font-weight: 300;
                font-size: 10pt;
                margin-bottom: 10px;
            }

            .a4_paper ul li p { padding-left:5px;
            }

        .a4_paper ul.light li h4 {
            background-color: #85c8e0;
        }

        .a4_paper ul.dark li h4 {
            background-color: #1c80aa;
        }

.saneringsbara_value, .non_saneringsbara_value {
    float: left;
    line-height: 14px;
}

.saneringsbara_color, .non_saneringsbara_color {
    height: 14px;
    width: 14px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
}
.a4_paper .line {border-top:1px solid #D1D3D4 ; padding-top:4px;}

.room_h2 {margin-top: 100px;}

.room_images {
    height: 150px;
    margin-bottom:50px;
}

.room_images img {
    height: 150px;
    margin-right:20px;
}

.room_paper table thead tr td {
   
    padding: 5px 7px;
color: white;
font-weight: 300;
font-size: 10pt;
background-color: #1c80aa;

}

.room_paper table thead tr td.comment {
    width: 317px;
}
.room_paper table thead tr td.id {
    width: 30px;
    
}
.room_paper table thead tr td.type {
    width: 50px;
}
.room_paper table thead tr td.price {
    width: 50px;
    
}
.room_paper tbody tr td {
    padding: 5px 0px 0px 0px;
}
.room_paper tbody tr:first-child td {
    padding-top:10px;
   
}

.room_paper tbody tr:last-child td {
    padding-bottom:5px;
}
.room_paper tbody tr td:first-child {
     padding-left:5px;
}
.room_paper table {
    margin-top: 30px;
    border:0px;
    padding:0px;
}
tfoot tr td {
    padding-top: 4px;
    border-top: 1px solid #D1D3D4;
}
.room_paper td.accepted_prize{
    /*background-color: #88ca91;*/

}

thead tr.tr_green td{background-color: #39B54A !important ;}
thead tr.tr_red td{background-color: #ED1C24 !important;}

.text-align-center {
    text-align: center;
}

.orrpon {
    width: 100%;
    background-color: #85C8E0;
    text-align:left;
    
    
}
.orrpon tr td {
    padding: 4px;
}
.orrpon th a{

    padding: 5px 7px;
    font-size: 12pt;
    color:#fff;
    text-decoration: none;
    font-weight: 300;
}

.gridviewtable {
width: 100%;
border: 0px;
}

.gridviewtable tr td {
    padding: 3px 0px 0px 5px;
}
.grdiviewtable tr td {
    padding: 5px 7px;
}