*, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
 
}

body {
    background-color: #efefef;
    background-image: url(../images/alien_bg1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

blockquote {
    padding: 10px 20px 20px 20px;
    font-size: 16pt;
    line-height: 19pt;
    font-weight: 300;
    font-style: italic;
    color: rgb(119,119,119);
    /*background-image: url(../images/blockquote.png);
    background-repeat: no-repeat;
    background-color: #cdebf6;*/
    width: 90%;
    margin: 0 0px;
}

p {
    margin-bottom: 20px;
    color: #434343;
    line-height: 26px;
    font-size: 11pt;
}

a {
    color: #000;
}

ul.lista li {
    padding-left: 5px;
    margin-bottom: 10px;
}

ul.lista {
    margin: 0px 0px 20px 20px;
}

ol {
    margin: 0px 0px 20px 20px;
}

    ol li {
        padding-left: 5px;
        margin-bottom: 10px;
    }

small {
    font-size: 8pt;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}


#footer {
    clear: both;
}

    #footer .whitebox {
        margin-bottom: 0px;
        background-image: url(../images/random_background3.jpg);
        background-position: top center;
        color: #fff;
    }

.copyright {
    font-size: 8pt;
    text-align: center;
    margin-top: 40px;
}

#footer ul, #footer ul ul {
    list-style-type: none;
    list-style-image: none;
}

    #footer ul li {
        float: left;
        width: 25%;
        font-size: 12pt;
        font-weight: 300;
    }

#footer a {
    color: #fff;
    text-decoration: none;
}

    #footer a:hover {
        color: #85c8e0;
    }

#footer ul li ul li {
    float: none;
    font-size: 10pt !important;
    width: 100%;
}

    #footer ul li ul li a {
        font-size: 10pt;
    }

    #footer ul li ul li:first-child {
        margin-top: 10px;
    }

#footer input, #footer textarea {
    color: #fff;
    width: 225px;
    background-color: rgba(128, 128, 128, 0.50);
    border: 0px;
    padding: 5px;
    font-size: 8pt;
}

    #footer input[type=submit] {
        font-size: 8pt;
        padding: 4px 2px;
        width: 235px;
        background-color: rgba(48, 48, 48, 0.83);
    }

    #footer input[type=text] {
        margin-bottom: 4px;
        font-size: 8pt;
    }

#header {
    background-color: rgba(255,255,255,1);
    height: 50px;
    padding: 10px 0px 0px 0px;
    min-width: 940px;
}

    #header img {
        border: 0px;
    }

#logo {
    width: 195px;
    height: 42px;
    background-image: url('../images/logo_small_symbol.png');
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    font-family: Oswald;
    font-size: 14pt;
    line-height: 42px;
    float: left;
    margin-left: 10px;
}

    #logo img {
        float: left;
        margin-right: 5px;
    }

#nav {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

    #nav ul {
        list-style-type: none;
    }

        #nav ul li {
            float: left;
            line-height: 32px;
            position: relative;
        }

            #nav ul li ul {
                display: none;
                list-style-image: none!important;
                background-color: #fff;
            }

            #nav ul li:hover ul {
                display: block;
                position: absolute;
                left: 0px;
                top: 30px;
                cursor: pointer;
                width: 190px;
                padding: 0px 10px 10px 10px;
                z-index: 666;
            }

            #nav ul li a {
                border-bottom: 2px solid #fff;
                margin: 0px 20px;
                padding: 0px 2px;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: 300;
                font-size: 10pt;
            }

            #nav ul li:last-child a {
                margin: 0px 0px 0px 20px;
            }

            #nav ul li a:hover {
                border-bottom: 2px solid #1c80aa;
            }

            #nav ul li a.active {
                border-bottom: 2px solid #1c80aa;
            }

.product_block {
    background-image: url('../images/sliderfull.jpg');
    margin-bottom: 30px;
    padding-bottom: 10px;
}

    .product_block img {
        width: 250px;
    }

    .product_block ul {
        list-style-type: none;
    }

        .product_block ul li {
            float: left;
            padding: 5px 10px;
            font-size: 8pt;
            background-color: #85c8e0;
            color: #000;
            margin-right: 4px;
            margin-bottom: 5px;
        }

.services_block {
    background-image: url('../images/sliderfull.jpg');
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 10px;
    width: 286px;
    float: left;
    background-position: -630px 2100px;
}

    .services_block h3 {
        color: #fff;
        font-weight: 300!important;
        font-size: 18pt!important;
        margin-bottom: 10px;
    }

    .services_block p {
        color: #fff;
        font-weight: 300;
    }

    .services_block img {
        width: 186px;
        margin: 0 auto;
    }

#slider {
    height: 350px;
    background-position: center top;
    background-image: url('../images/sliderfull.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-color: #1c80aa;
    margin-bottom: 0px;
    min-width: 960px;
}

#start_boxes {
    position: relative;
    top: 50px;
}

.slider_text {
    width: 620px;
    float: left;
    padding-left: 30px;
    padding-right: 10px;
}

    .slider_text h2 {
        padding-top: 30px;
        color: #fff;
        font-weight: 300!important;
        font-size: 36pt!important;
    }

    .slider_text p {
        color: #fff;
        font-weight: 300;
        font-size: 11pt;
    }

#start_boxes ul {
    list-style-type: none;
}

    #start_boxes ul li {
        float: left;
        width: 280px;
        /*height: 180px;*/
        padding: 20px 20px;
    }

        #start_boxes ul li h3 {
            font-weight: 300;
            font-size: 18pt;
        }

#start_boxes img {
    /*height: 110px;
margin: 10px auto 10px auto;
display: block;*/
}

#start_boxes ul li h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 12pt;
}

#start_boxes ul li p {
    line-height: 18pt;
    font-size: 10pt;
    font-weight: 400;
    margin-top: 20px;
    overflow: hidden;
    height: 70px;
    margin-bottom: 10px;
}

ul.products li.block {
    float: left;
    width: 280px;
    padding: 20px 20px;
    list-style-type: none;
}

ul.products li ul {
    height: 100px;
}

ul.products h2 {
    margin-bottom: 30px;
}

ul.products img {
    margin-bottom: 30px;
}

ul ul {
    list-style-image: url('../Images/sq.png');
}

li.block ul {
    margin-bottom: 20px;
}

    li.block ul li {
        margin-bottom: 5px;
        margin-left: 20px;
        padding-left: 5px;
    }

li.block p {
    font-size: 8pt;
    color: #6d6d6d;
    margin-bottom: 20px;
    line-height: 11pt;
}

.buttonlight {
    float: left;
    padding: 5px 10px;
    font-size: 8pt;
    background-color: #85c8e0;
    color: #000;
    margin-right: 4px;
    margin-bottom: 5px;
}

.button {
    background-color: #000;
    color: #fff;
    font-size: 8pt;
    padding: 5px 10px;
    float: right;
    margin-top: 0px;
    cursor: pointer;
    text-decoration: none;
}

.big_button {
    padding: 10px 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
}

    .big_button:hover {
        background-color: rgba(28, 128, 170, 0.50);
    }

.button:hover {
    background-color: rgba(28, 128, 170, 0.50);
}

#start_boxes .box1 {
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);
}

    #start_boxes .box1 p {
        overflow-y: scroll;
    }

#start_boxes .box2 {
    /*background-color: #85c8e0;*/
    background-color: rgba(133,200,224,0.95);
}

#start_boxes .box3 {
    /*background-color: #1c80aa;*/
    background-color: rgba(28,128,170,0.95);
}

#content {
    padding: 10px 0px 100px 0px;
}

    #content h1 {
        font-weight: 300;
        font-size: 36pt;
        margin-bottom: 30px;
    }

    #content h2 {
        font-weight: 300;
        font-size: 20pt;
        margin-bottom: 15px;
        margin-top: 10px;
    }




/*   UNDERSIDOR   */
/*   OPEN         */

#inspection_list {
    float: left;
    width: 500px;
    margin-right: 10px;
}

    #inspection_list ul {
        list-style-type: none;
    }

#inspection_sort {
    float: left;
    width: 210px;
    margin-right: 10px;
}

    #inspection_sort a {
        text-decoration: none;
    }

#inspection_help {
    float: left;
    width: 210px;
}

#room_list {
    float: left;
    width: 500px;
    margin-right: 20px;
}

    #room_list ul {
        list-style-type: none;
    }

#room_sort {
    float: left;
    width: 210px;
    margin-right: 10px;
}

    #room_sort a {
        text-decoration: none;
    }

#room_help {
    float: left;
    width: 210px;
}

.inspection_item {
    padding: 0px 0px 0px 40px;
    margin-bottom: 5px;
}

.sort_item, .selection_item {
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
}

.sort_up {
    background-color: #85c8e0;
    background-image: url('../images/sort_up.png');
}

.sort_down {
    background-color: #85c8e0;
    background-image: url('../images/sort_down.png');
}

.sort_closed {
    background-color: #85c8e0;
    background-image: url('../images/sort_closed.png');
}

.sort_none {
    background-color: #fff;
}

.sort_none, .sort_closed, .sort_down, .sort_up {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.sort_row1 {
    cursor: pointer;
}

.sort_row2 {
    padding-left: 10px;
}

    .sort_row2 ul {
        list-style-type: none;
        margin-top: 5px;
        padding-bottom: 5px;
    }

        .sort_row2 ul li {
            margin: 0px;
            padding: 0px 0px 0px 0px;
        }

    .sort_row2 input[type=checkbox] {
        margin-right: 15px;
    }

    .sort_row2.row_rum2 label {
        cursor: pointer;
    }

.white {
    background-color: rgba(255,255,255,0.70);
}

.green {
    background-image: url('../images/green_bar.png');
    background-color: rgba(255,255,255,0.70);
    background-repeat: repeat-y;
    background-position: left;
}

.blue {
    background-image: url('../images/blue_bar.png');
    background-color: rgba(255,255,255,0.70);
    background-repeat: repeat-y;
    background-position: left;
}



.orange {
    background-image: url('../images/orange_bar.png');
    background-color: rgba(255,255,255,0.70);
    background-repeat: repeat-y;
    background-position: left;
}

.red {
    background-color: #ED1C24;
}

.green2 {
    background-color: #39B54A;
}


.inspection_item_image {
    height: 100px;
    margin-bottom: 5px;
}

    .inspection_item_image img {
        height: 100px;
    }


.inspection_item_objects {
    background-image: url('../images/boll.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 100px;
    color: #fff;
}

    .inspection_item_objects h3 {
        text-align: center;
        width: 100px;
        padding-top: 45px;
        font-size: 16pt;
        line-height: 16pt;
    }

    .inspection_item_objects h4 {
        text-align: center;
        font-weight: 300;
        font-size: 10pt;
        line-height: 10pt;
    }

.inspection_row_1 {
    cursor: pointer;
}

.inspection_row_col1 {
    float: left;
    width: 140px;
    font-weight: 300 !important;
    font-size: 10pt !important;
    height: 30px;
    line-height: 30px;
}

.inspection_row_col1_inspection_aspx {
    float: left;
    font-weight: 300 !important;
    font-size: 10pt !important;
    height: 30px;
    line-height: 30px;
}


.inspection_row_col2 {
    float: left;
    font-size: 10pt;
    font-weight: 300;
    display: block;
    height: 30px;
    line-height: 30px;
}

.inspection_row_col2_inspection_aspx {
    float: right;
    font-size: 10pt;
    font-weight: 300;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

.inspection_col3 {
    float: left;
    width: 140px;
}

.inspection_col4 {
    float: left;
    padding-top: 20px;
    font-size: 10pt;
    width: 320px;
}


.inspection_col4b {
    float: left;
    padding-left: 5px;
    width: 310px;
}

    .inspection_col4b p {
        font-size: 10pt;
        line-height: 24px;
    }

.inspection_item_bottom {
    padding: 0px 5px 0px 0px;
    font-size: 8pt;
    color: #a2a2a2;
    height: 30px;
}

    .inspection_item_bottom small {
        float: left;
    }

#inspection_sort .inspection_item, #inspection_help .inspection_item, .sort_item, .selection_item {
    font-weight: 300 !important;
    font-size: 10pt !important;
    line-height: 30px;
}

.room_col {
    width: 320px;
    padding-right: 20px;
    float: left;
}

/*







    .inspection_item_ p {
        margin: 0px 0px 15px 0px;
    }



    .inspection_item_bottom small {

    }



.hidden {
    display: none;
}
    */

/*CREATE*/
#create_inspection {
}

    #create_inspection .col1 {
        float: left;
        width: 460px;
        margin-right: 20px;
    }

    #create_inspection .col2 {
        float: left;
        width: 460px;
    }

    #create_inspection input[type=text] {
        display: block;
        padding: 10px;
        font-size: 14pt;
        font-weight: 300;
        font-family: 'Open Sans';
        width: 410px;
        margin: 5px 0px 25px 0px;
    }

    #create_inspection input[type=checkbox] {
    }

    #create_inspection input[type=text].input_third {
        width: 25%;
        float: left;
        margin-right: 8px;
    }

    #create_inspection input[type=submit] {
        display: block;
        background-color: #000;
        font-size: 14pt;
        font-weight: 300;
        font-family: 'Open Sans';
        width: 434px;
        text-align: center;
        border: none;
        color: #fff;
        padding: 10px;
        margin-top: 45px;
    }

        #create_inspection input[type=submit]:hover {
            background-color: #1C80AA;
            cursor: pointer;
        }

/*OBJECT*/

.inspect_object h3 {
    font-size: 14pt;
    font-weight: 300;
    padding: 5px 10px;
    background-color: #85c8e0;
    color: #fff;
}

.inspect_object h4 {
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 10px;
    /*  display: inline-block;*/
    background: #1c80aa;
    margin-top: 20px;
    padding: 5px 7px;
    color: #fff;
}

.inspect_object a.breadcrumb {
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 10px;
    display: inline-block;
    background: #000;
    padding: 5px 7px;
    color: white;
    text-decoration: none;
}

.inspect_object a:hover.breadcrumb {
    background: #1C80AA;
}

.inspect_object p {
    margin-bottom: 40px;
}

.inspect_object .col1 {
    float: left;
    width: 680px;
    margin-right: 20px;
}

.inspect_object .col2 {
    float: left;
    width: 260px;
}

.inspect_object .left_col {
    float: left;
    width: 320px;
    margin-right: 20px;
}

.inspect_object .middle_col {
    float: left;
    width: 330px;
}

.inspect_object .right_col {
    float: left;
    width: 260px;
}

.inspect_object .full_col {
    width: 680px;
    float: left;
}

#MainContent_rooms {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background: #efefef;
    border: 0px;
    padding: 4px;
    font-size: 11pt;
}

#MainContent_categories, #MainContent_objects {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    background: #EFEFEF;
    border: 0px;
    padding: 4px;
    font-size: 11pt;
}


span.goto {
    background-color: #000;
    color: #fff;
    font-size: 8pt;
    padding: 5px 10px;
    cursor: pointer;
}

    span.goto:hover {
        background-color: #1c80aa;
    }

.inspect_object #rooms li.selected {
}

.thumbnail {
    width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
}

    .thumbnail:hover {
        cursor: pointer;
    }

.thumbnail_large {
    width: 222px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
}

    .thumbnail_large:hover {
        cursor: pointer;
    }

/*SLIDER*/
.slider {
    margin: 10px;
}

table#sliders {
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}

    table#sliders td:first-child {
        width: 100px;
        height: 30px;
    }

    table#sliders td:last-child {
        width: 500px;
    }

*:focus {
    outline: none;
}

ul.material {
    list-style-type: none;
}

    ul.material li {
        float: left;
        font-weight: 300;
        font-size: 11pt;
        margin-bottom: 10px;
        display: inline-block;
        background: #85C8E0;
        margin: 20px 10px 0px 0px;
        padding: 5px 7px;
        color: #000;
    }


/*CONTACT*/
.contact_item {
    height: 250px;
}

.contact_photo {
    width: 150px;
    float: left;
    margin: 0px 20px 0px 0px;
}

    .contact_photo img {
        width: 150px;
    }

.contact_details {
    float: left;
}

    .contact_details h3 {
        font-weight: 300;
        font-size: 28pt;
        line-height: 38pt;
    }

    .contact_details h4 {
        color: #a2a2a2;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 2px;
        font-size: 12pt;
        margin-bottom: 30px;
    }

.contact .contact_details p {
    margin-bottom: 5px;
}

.contact p {
    margin-bottom: 60px;
}

/* PDF */

.a4_paper {
    background-color: #fff;
    width: 880px;
    height: 1278px;
    margin-bottom: 20px;
    padding: 40px;
    font-size: 8pt;
}

.damage_summary_paper {
}

    .damage_summary_paper h2, .room_paper h2 {
        margin-bottom: 50px !important;
        font-size: 36pt!important;
    }

.ensurance_company_logo {
    height: 150px;
    width: 300px;
    float: left;
}

.sanerings_company_logo {
    height: 150px;
    width: 300px;
    float: right;
}

    .ensurance_company_logo img, .sanerings_company_logo img {
        max-width: 300px;
    }

.damage_summary_paper .inspection_number {
    background-color: #000;
    color: #fff;
    font-weight: 300;
    font-size: 10pt;
    padding: 5px 7px;
    width: 205px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.a4_paper ul {
    list-style-type: none;
    margin-top: 30px;
}

    .a4_paper ul li {
        float: left;
        width: 205px;
        margin-right: 20px;
    }

        .a4_paper ul li:last-child {
            margin-right: 0px;
        }

        .a4_paper ul li h4 {
            padding: 5px 7px;
            color: #fff;
            font-weight: 300;
            font-size: 10pt;
            margin-bottom: 10px;
        }

        .a4_paper ul li p {
            padding-left: 5px;
        }

    .a4_paper ul.light li h4 {
        background-color: #85c8e0;
    }

    .a4_paper ul.dark li h4 {
        background-color: #1c80aa;
    }

.saneringsbara_value, .non_saneringsbara_value {
    float: left;
    line-height: 14px;
}

.saneringsbara_color, .non_saneringsbara_color {
    height: 14px;
    width: 14px;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
}

.a4_paper .line {
    border-top: 1px solid #D1D3D4;
    padding-top: 4px;
}

.room_h2 {
    margin-top: 100px;
}

.room_images {
    height: 150px;
    margin-bottom: 50px;
}

    .room_images img {
        height: 150px;
        margin-right: 20px;
    }

.room_paper table thead tr td {
    padding: 5px 7px;
    color: white;
    font-weight: 300;
    font-size: 10pt;
    background-color: #1c80aa;
}

    .room_paper table thead tr td.comment {
        width: 317px;
    }

    .room_paper table thead tr td.id {
        width: 30px;
    }

    .room_paper table thead tr td.type {
        width: 50px;
    }

    .room_paper table thead tr td.price {
        width: 50px;
    }

.room_paper tbody tr td {
    padding: 5px 0px 0px 0px;
}

.room_paper tbody tr:first-child td {
    padding-top: 10px;
}

.room_paper tbody tr:last-child td {
    padding-bottom: 5px;
}

.room_paper tbody tr td:first-child {
    padding-left: 5px;
}

.room_paper table {
    margin-top: 30px;
    border: 0px;
    padding: 0px;
}

tfoot tr td {
    padding-top: 4px;
    border-top: 1px solid #D1D3D4;
}

.room_paper td.accepted_prize {
    /*background-color: #88ca91;*/
}

thead tr.tr_green td {
    background-color: #39B54A !important;
}

thead tr.tr_red td {
    background-color: #ED1C24 !important;
}

.text-align-center {
    text-align: center;
}

.orrpon {
    width: 100%;
    background-color: #85C8E0;
    text-align: left;
}

    .orrpon tr td {
        padding: 4px;
    }

    .orrpon th a {
        padding: 5px 7px;
        font-size: 11pt;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
    }

.gridviewtable {
    width: 100%;
    border: 0px;
}

    .gridviewtable tr td {
        padding: 3px 0px 0px 5px;
    }

.grdiviewtable tr td {
    padding: 5px 7px;
}

.forms .col1 {
    width: 940px;
    clear: both;
}

    .forms .col1 input {
        width: 916px;
    }

    .forms .col1 textarea {
        width: 916px;
    }

.forms .col2 {
    width: 465px;
    margin-right: 10px;
    float: left;
}

    .forms .col2 input {
        width: 441px;
    }

        .forms .col2 input[type=submit] {
            width: 465px;
        }

.forms .col3 {
    float: left;
    width: 360px;
    margin-right: 10px;
}

.forms .col4_3 {
    width: 700px;
    float: left;
    margin-right: 10px;
}

    .forms .col4_3 textarea {
        width: 678px;
    }


.forms .col3 input {
    width: 336px;
}

    .forms .col3 input[type=submit] {
        width: 359px;
    }

.forms .col3 select[size], .forms .col3 select[multiple], .forms .col3 select[size][multiple] {
    width: 359px;
}

.forms .col4 {
    float: left;
    width: 227px;
    margin-right: 10px;
}

.forms input[type=text] {
    /*display: block;*/
    padding: 10px;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Open Sans';
    /*width: 310px;*/
    margin: 5px 0px 10px 0px;
}

.forms input[type=password] {
    display: block;
    padding: 10px;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Open Sans';
    /*width: 310px;*/
    margin: 5px 0px 10px 0px;
}

.forms input[type=submit] {
    display: block;
    background-color: #000;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Open Sans';
    /*width: 334px;*/
    text-align: center;
    border: none;
    color: #fff;
    padding: 12px 10px 11px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.forms textarea {
    /*display: block;*/
    padding: 10px;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Open Sans';
    /*width: 310px;*/
    margin: 5px 0px 10px 0px;
}

.forms select[size], .forms select[multiple], .forms select[size][multiple] {
    display: block;
    padding: 10px;
    font-size: 14pt;
    font-weight: 300;
    font-family: 'Open Sans';
    /*width: 334px;*/
    margin: 5px 0px 10px 0px;
    height: 300px;
}

.forms .message-info {
    width: 333px;
    font-size: 9pt;
}



#AdminPage .left_col {
    float: left;
    width: 750px;
}

#AdminPage .right_col {
    float: right;
    width: 200px;
}

    #AdminPage .right_col ul {
        list-style: none;
    }

.jourtable tbody tr:first-child td {
    padding-top: 5px;
}


.jourtable thead th {
    text-align: left;
    padding: 5px 7px;
    color: #fff;
    font-weight: 300;
    font-size: 14pt; /* was 10pt*/
}

.jourtable tbody td {
    height: 20px;
    vertical-align: top;
    padding: 2px 0px;
}

.jourtable {
    width: 100%;
    border-spacing: 0px;
    margin-top: 5px;
}

.light {
    background-color: #85c8e0;
}

.dark {
    background-color: #1c80aa;
}

table.companycreate tr.user_level1 td {
    font-weight: bold;
    color: #1c80aa;
}

table.companycreate tr.user_level2 td {
    font-weight: bold;
    color: #000;
}

table.companycreate tr.user_level3 td {
    color: #1c80aa;
}

table.companycreate tr.user_level4 td {
    color: #000;
}

.timeline_container {
    background-image: url('../Images/black_bar.png');
    background-repeat: repeat-y;
    padding-left: 35px;
    margin-bottom: 40px;
}

    .timeline_container ul.jour {
        list-style-image: url('../Images/black_bar.png');
    }

    .timeline_container ul.bygg {
        list-style-image: url('../Images/black_bar.png');
    }

    .timeline_container ul.sak {
        list-style-image: url('../Images/black_bar.png');
    }

    .timeline_container ul li h3 {
        font-size: 16pt;
        font-weight: 300;
    }

    .timeline_container ul li {
        margin-bottom: 50px;
    }

        .timeline_container ul li p {
            padding-left: 30px;
            color: #6d6d6d;
            width: 450px;
            text-align: justify;
            font-size: 8pt;
        }

    .timeline_container img {
        margin: 20px 0px;
    }

    .timeline_container .jour strong {
        display: block;
        font-size: 10pt;
    }

.pager {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

    .pager .pagerclass {
        font-size: 10pt;
        text-decoration: none;
        padding: 0px 2px;
        color: #6d6d6d;
    }

    .pager .pagerclass_selected {
        font-size: 11pt;
        text-decoration: none;
        padding: 0px 2px;
    }

.last {
    margin-right: 0px !important;
}


.bottom {
    margin-bottom: 0px !important;
}

.white_block {
    background-color: #fff;
    display: block;
    padding: 10px;
}

.threecol_1 {
    float: left;
    width: 500px;
    margin-right: 20px;
}

.threecol_2 {
    float: left;
    width: 210px;
    margin-right: 20px;
}

.threecol_3 {
    float: left;
    width: 210px;
}

.sliderclass {
    height: 5px;
    background-color: #eee;
    width: 300px;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .sliderclass > span {
        height: 5px;
        background-color: #1c80aa;
        display: block;
    }

.item_col4 {
    float: left;
    padding-top: 0px;
    font-size: 8pt;
}

.whitebox {
    background-color: rgba(255,255,255,0.70);
    padding: 10px;
    margin-bottom: 30px;
}

/* TOOLTIP */
input.tooltip_r {
    outline: none;
    display: inline-block !important;
    margin-right: 10px !important;
}

    input.tooltip_r strong {
        line-height: 30px;
    }

    input.tooltip_r:hover, input.tooltip_r:focus {
        text-decoration: none;
    }

    /*.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}*/

    input.tooltip_r + span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -13px;
        margin-left: 20px;
        width: 240px;
        line-height: 16px;
    }

    input.tooltip_r:hover + span, input.tooltip_r:focus + span {
        display: inline-block;
        position: absolute;
        color: #111;
        background: #1c80aa;
    }
/*.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}*/

/*CSS3 extras*/



input.tooltip, select.tooltip {
    outline: none;
}

    input.tooltip strong, select.tooltip strong {
        line-height: 30px;
    }

    input.tooltip:hover, select.tooltip:hover {
        text-decoration: none;
    }

    input.tooltip + span, select.tooltip + span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: 0px;
        margin-left: 25px;
        width: 240px;
    }

    input.tooltip:hover + span, select.tooltip:hover + span {
        display: inline;
        position: absolute;
        color: #EEE;
        background: #1c80aa;
    }

.callout {
    z-index: 20;
    position: absolute;
    border: 0;
    top: -14px;
    left: 120px;
}




h1.huvud {
    /*background-image:url(../images/bord.jpg);
    padding: 2px 0px 8px 20px;
    color: #fff;*/
}


#spotlight1 {
    background-position: center top;
    background-repeat: no-repeat;
    height: 350px;
}



#spotlight2 {
    background-position: center top;
    background-repeat: no-repeat;
    height: 350px;
}



#spotlight3 {
    background-position: center top;
    background-repeat: no-repeat;
    height: 350px;
}



.divider {
    height: 50px;
}

#slider {
    overflow: hidden;
}

#promoBox {
    width: 960px;
    height: 350px;
    padding-top: 30px;
}

    #promoBox div img {
        float: left;
    }

div.product_verktyg img {
    width: 50px;
    padding: 10px;
    background-color: #1c80aa;
    margin: 0px 10px 5px 0px;
}

/* CHECKBOX SHIZZLE */

.csschecked input[type="checkbox"] {
    display: none; /* hide the checkboxes in supported browsers */
}

    /*input[type="checkbox"] {
    display:none;
}*/

    .csschecked input[type="checkbox"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        background: url(../images/check_radio_sheet_ez.png) left top no-repeat;
        cursor: pointer;
    }

    .csschecked input[type="checkbox"]:checked + label span {
        background: url(../images/check_radio_sheet_ez.png) -19px top no-repeat;
    }
/* CHECKBOX SHIZZLE END*/

.textneedsfix {
    background-color: #ED1C24;
    color: #fff;
}

.shoutbox {
    padding: 20px;
    float: right;
    width: 200px;
    background-color: rgba(31,31,31,0.80);
    /*background-image: url('../images/sliderfull.jpg');
    background-position: center center;*/
    margin: 0px 0px 20px 20px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}

    .shoutbox h4 {
        font-size: 18pt;
        margin-bottom: 20px;
        font-weight: 300;
    }

.blockbox {
    width: 445px;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image: url('../images/sliderfull.jpg');
    padding: 10px;
    background-position: center center;
    text-align: center;
    color: #fff;
}

    .blockbox p {
        color: #fff;
        padding: 10px;
    }

    .blockbox h2 {
        margin: 5px 0px 0px 0px !important;
    }

ol.jourlistitem li {
    padding: 10px 10px;
    background-image: url('../images/sliderfull.jpg');
    margin: 5px;
    color: #fff;
    float: left;
}

ol.jourlistitem {
    list-style-type: none;
    margin: 0px 0px 20px;
    padding: 0px;
}

img.stockbild {
    margin: 5px 0px 5px 5px;
}

/*body#start {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#start .band {
    background-color: rgba(0,0,0,0.70);
    height: 230px;
    margin-top: 25%;    padding-top:40px;
    font-family: 'Open Sans';
    text-align: center;
}
#start .blueband{
    background-color: #549ec4;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:55px;
    text-align: center;
    opacity: 0.9;
    padding-top:5px;

}
#start .blueband:hover {
    cursor:pointer;
    opacity:1.0;
}
#start .blueband h3 {
        font-weight: 300;
    font-family: 'Open Sans';
    font-size: 25pt;
    color: #fff;
}

.band h1 {
    color: #fff;
    font-weight: normal;
    font-size: 80pt;
    line-height: 100pt;
    
}
.band h2 {
    color: #fff;
    font-weight: 300;
    font-size: 20pt;
    line-height: 20pt;
    
}*/

body#start {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#start .band {
    background-color: rgba(0,0,0,0.70);
    padding: 30px 0px;
    font-family: 'Open Sans';
    text-align: center;
}

#start .blueband {
    background-color: #549ec4;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.9;
    padding: 5px 0px;
}

.blueband a {
    text-decoration: none;
}

#start .blueband:hover {
    cursor: pointer;
    opacity: 1.0;
}

#start .blueband h3 {
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 25pt;
    color: #fff;
}

.band h1 {
    color: #fff;
    font-weight: normal;
    font-size: 80pt;
    line-height: 100pt;
}

.band h2 {
    color: #fff;
    font-weight: 300;
    font-size: 20pt;
    line-height: 20pt;
}

#start #box {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

#start {
    position: relative;
    height: 100%;
}

.startblock {
    width: 300px;
    float: left;
    margin: 10px 20px 0px 0px;
}

    .startblock img {
        width: 100%;
    }

.blackfield .arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 30px 0 0px 50px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    bottom: 20px;
    right: -50px;
}



.whitefield {
    background-image: url('../images/whitefield_micke4.jpg');
    height: 512px;
    padding: 10px;
}

    .whitefield .bubble {
        background-color: rgba(31,31,31,0.80);
        width: 500px;
        padding: 10px;
        position: relative;
        margin-bottom: 10px;
    }

        .whitefield .bubble p {
            color: #fff;
        }

    .whitefield .block {
        background-color: rgba(215,215,215,0.7);
        width: 500px;
        padding: 10px;
        position: relative;
        margin-top: 10px;
        color: #000;
        min-height: 44px;
        background-image: url(../images/readmore_arrows.png);
        background-repeat: no-repeat;
        background-position: 480px center;
    }

        .whitefield .block p {
            color: #000;
            margin: 0px;
            padding: 0px;
            float: left;
            width: 350px;
        }

        .whitefield .block img {
            float: left;
            width: 64px;
            margin-right: 10px;
        }

        .whitefield .block:hover {
            background-color: #e9e9e9;
            cursor: pointer;
        }

    .whitefield .arrow {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 0 0px 50px;
        border-color: transparent transparent transparent #372c32;
        position: absolute;
        bottom: 20px;
        right: -50px;
    }

.appblock {
    width: 920px;
    height: 240px;
    background-image: url(../images/random_background2.jpg);
    padding: 10px;
    margin-top: 10px;
}

    .appblock p {
        padding: 20px 30px 20px 30px;
        font-size: 14pt;
        text-align: center;
        color: #fff;
    }

    .appblock .appar {
    }

        .appblock .appar ul {
            list-style-type: none;
        }

            .appblock .appar ul li {
                float: left;
                width: 176px;
                height: 128px;
                margin-right: 10px;
            }

                .appblock .appar ul li p:hover {
                    cursor: pointer;
                }

.floater_bygg {
    background-image: url(../images/floater_bygg.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.floater_jour {
    background-image: url(../images/floater_jour.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.floater_sanering {
    background-image: url(../images/floater_sanering.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.floater_losore {
    background-image: url(../images/floater_losore.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.floater_klotter {
    background-image: url(../images/floater_klotter.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.appblock .appar ul li p {
    background-color: rgba(31,31,31,0.72);
    font-size: 11pt;
    margin-top: 97px;
    padding: 1px 6px 4px;
}

.appar a {
    text-decoration: none;
}

.litetappblock {
    height: 130px;
    padding-top: 30px;
    margin: 0px 0px 0px 0px;
}

.whitefield .appbubble {
    width: 435px;
    float: left;
    height: 120px;
    margin-right: 10px;
}

    .whitefield .appbubble p {
        text-align: center;
    }

    .whitefield .appbubble h2 {
        color: #fff;
        text-align: center;
        margin: 10px 0px 5px !important;
    }

.startblock.funktion {
    height: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

    .startblock.funktion h2 {
        text-align: center;
        font-size: 16pt!important;
        margin-top: 0px !important;
    }

    .startblock.funktion p {
        padding: 10px;
    }

    .startblock.funktion img {
        width: 250px;
        margin: 0 25px;
    }

#intervju p {
    line-height: 18pt;
    margin-bottom: 30px;
}

#intervju strong {
    margin: 0px 0px 0px 0px;
    display: block;
}


/*APP*/
.app_col1 {
    float: left;
    margin-right: 10px;
    width: 200px;
}

    .app_col1 ul li, .app_col1 span {
        font-size: 9pt;
    }

.app_col2 {
    float: left;
    width: 730px;
}

.app_image {
    background-color: rgba(200,200,200,0.1);
}

    .app_image img {
        width: 200px;
        height: 201px;
    }

.app_banner {
    height: 205px;
    width: 730px;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
}

ul.app_funktioner {
    list-style-type: none;
}

.app_screenshots {
    overflow-x: scroll;
    height: 220px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

    .app_screenshots img {
        height: 200px;
    }

    .app_screenshots ul {
        list-style-type: none;
    }

        .app_screenshots ul li {
            float: left;
            margin-right: 10px;
        }



.app_appar {
    margin: 30px 0px;
}

    .app_appar ul {
        list-style-type: none;
    }

        .app_appar ul li {
            float: left;
            width: 175px;
            height: 128px;
            margin-right: 10px;
        }

            .app_appar ul li p:hover {
                cursor: pointer;
            }

    .app_appar p {
        padding: 20px 30px 20px 30px;
        font-size: 14pt;
        text-align: center;
    }

    .app_appar ul li p {
        font-size: 11pt;
        margin-top: 85px;
        padding: 1px 6px 4px;
    }

    .app_appar a {
        text-decoration: none;
    }

ul.contact {
    list-style-type: none;
}

    ul.contact li {
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: left center;
        margin-bottom: 10px;
    }

.formbox {
    float: left;
    width: 180px;
    margin: 0px 10px 10px 0px;
}

    .formbox input[type=text] {
        width: 95%;
        padding: 2px 4px;
        font-size: 10pt;
    }

#contact textarea {
    height: 100px;
    width: 550px;
    padding: 5px;
    font-size: 10pt;
}

#contact input[type=submit] {
    border: none;
}

#uppdrag .bjqs-slide {
    background-position: center center;
    -o-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

#uppdrag .uppdrag_desc,.manual .uppdrag_desc {
    position: absolute;
    bottom: 10px;
    width: 900px;
    padding: 10px;
    background-color: rgba(31,31,31,0.80);
    color: #fff;
    left: 10px;
}

#uppdrag .slide0 {
    background-image: url(../images/uppdrag.jpg);
}

#uppdrag .slide1 {
    background-image: url(../images/stock/Eaztimate-bygg-20.jpg);
}

#uppdrag .slide2 {
    background-image: url(../images/stock/Eaztimate-namnlos-1.jpg);
}

#uppdrag .slide3 {
    background-image: url(../images/stock/Eaztimate-bygg-1.jpg);
}

#uppdrag .slide4 {
    background-image: url(../images/stock/Eaztimate-bygg-2.jpg);
}

#uppdrag .slide5 {
    background-image: url(../images/stock/Eaztimate-bygg-11.jpg);
}

#uppdrag .slide6 {
    background-image: url(../images/stock/Eaztimate-bygg-13.jpg);
}

#uppdrag .slide7 {
    background-image: url(../images/stock/Eaztimate-bygg-10.jpg);
}

#uppdrag .slide8 {
    background-image: url(../images/stock/Eaztimate-bygg-17.jpg);
}

#uppdrag .slide9 {
    background-image: url(../images/stock/eaztimate-bytut-1.jpg);
}

#uppdrag .bjqs-prev,.manual .bjqs-prev {
    height: 50px;
    width: 182px;
    background-image: url(../images/slider-previous.png);
    left: 10px;
}

#uppdrag .bjqs-next,.manual .bjqs-next {
    height: 50px;
    width: 182px;
    background-image: url(../images/slider-next.png);
    right: 10px;
}

.klotter_images {
    height: 169px;
    margin-right: 10px;
}

.dd-select {
    margin-top: 5px!important;
    padding: 4px 0px!important;
    border-radius: 0px !important;
    background-color: #fff !important;
}

.dd-selected {
    font-weight: 300 !important;
}

.dd-option-selected {
    background-color: #85c8e0!important;
}

.dd-option:hover {
    background-color: #1c80aa!important;
}

.dd-container {
    float: left;
}

.forms ul.room_row_list {
    list-style-type: none;
}

    .forms ul.room_row_list li {
        margin-bottom: 10px;
    }

.forms ul li .room_row_1 {
    background-color: #85c8e0;
    color: #fff;
    padding: 1px 10px 4px;
    font-size: 18pt;
    font-weight: 300;
    cursor: pointer;
}

.forms ul li .room_row_2 {
    padding: 10px;
    color: rgb(0, 0, 0);
    /*background-color: rgb(232, 247, 252);*/
    background-color: rgba(255,255,255,0.70);
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url('../images/gradient.png');
}

.forms ul li .room_row_2 ul {
    list-style-position: inside;
}

.jourcblist {
    list-style-type: none;
}

    .jourcblist li {
        width: 220px;
        /*float: left;*/
        /*margin-right: 10px;*/
    }

.jour_images {
    width: 227px;
    margin-right: 10px;
}

    .jour_images a {
        text-decoration: none; 
        width: 225px; 
        margin-right: 10px;
    }


    /* CALENDAR */
.ajax__calendar_container {
    font-size: 11px!important;
}

.datepicker {
    float:right;
        margin-bottom:5px;
}
.datepicker input[type=text] {
    padding: 2px 5px;
    width:90px;
    text-align:center;
}

.datepicker select {
    padding: 2px 5px;
    width:90px;
    text-align:center;
    margin-right: 10px;
}
.datepicker input[type=image] {
    vertical-align:bottom;
}

.varhurvarfor {
    width: 230px;margin-right: 20px;float:left;display:none;
}

.smallfield {
    font-size: 10pt !important;
    width: 200px !important;
    padding: 0 !important;
}

.help ul {
    list-style-type:none;
    margin-bottom:20px;
}
.help ul ul {
    list-style-type:disc;
    list-style-image:none;
    padding-left:30px;
    padding-top:5px;
}
.help ul li ul li {
    cursor: pointer;
}

.help .col1 {
    width:360px;
    margin-right:5px;
    float:left;
}
.help .col2 {
    width:360px;
    margin-left: 5px;
    float:left;
}
.help .icon_desc img {
    float:left;
}
.help .icon_desc p {
    float:left;
    font-style:italic;
    width:290px;
    padding-left:10px;
    margin-bottom: 0px;
}
.help .icon_desc {
    margin-top:10px;
}
.vy {
    display: none;
}